[submodule "nvim"]
	path = nvim
	url = git@github.com:ReedMerrill/nvim.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:ReedMerrill/tmux.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:ReedMerrill/zsh.git
[submodule "yazi"]
	path = yazi
	url = git@github.com:ReedMerrill/yazi.git
